<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.sunline.suncard.powerdesigner.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.sunline.suncard.powerdesigner.Perspective"
            icon="icons/spowerdesigner_16.png"
            id="sunline.suncard.powerdesigner.perspective"
            name="PowerDesignerPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="sunline.suncard.powerdesigner.application"
            name="SuncardDesigner 1.0">
         <property
               name="windowImages"
               value="icons/spowerdesigner_16.png,icons/spowerdesigner_32.png,icons/spowerdesigner_48.png,icons/spowerdesigner_64.png,icons/spowerdesigner_128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="SuncardDesigner 1.0">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="sunline.suncard.powerdesigner.commands.openpd"
            name="%open">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.newpd"
            name="%new">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.import"
            name="%import">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.save"
            name="%save">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.saveother"
            name="%saveother">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.newview"
            name="%newview">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.deleteview"
            name="%deleteview">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.switchcurrentdb"
            name="%switchcurrentdb">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.currentdbset"
            name="%currentdbset">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.createdatabaseset"
            name="%createdatabaseset">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.createdb"
            name="%createdb">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.properties"
            name="%properties">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.outline"
            name="%outline">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.find"
            name="%find">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.about"
            name="%about">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.modellabelmanager"
            name="%modulelabelmanager">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.rankwindows"
            name="%rankwindows">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.windowsmanager"
            name="%windowsmanager">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.tablediagramshowtype"
            name="%tablediagramshowtype">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.exit"
            name="%exit">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.onlyshowprimarykey"
            name="%onlyshowprimarykey">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.showprimaryandforeign"
            name="%showprimaryandforeign">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.showall"
            name="%showall">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.addefaultcolumn"
            name="%addefaultcolumn">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.notaddefaultcolumn"
            name="%notaddefaultcolumn">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.saveasshortcut"
            name="%saveasshortcut">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.databaseconnectset"
            name="%databaseconnectset">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.sqlcommandwindow"
            name="%sqlcommandwindow">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.indexmanager"
            name="%indexmanager">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.dbconnectiontree"
            name="%databaseconnectiongtree">
      </command>
      <command
            id="sunline.suncard.powerdesigner.commands.executesql"
            name="%executesql">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.NewHandler"
            commandId="sunline.suncard.powerdesigner.commands.newpd">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.OpenHandler"
            commandId="sunline.suncard.powerdesigner.commands.openpd">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.ImportHandler"
            commandId="sunline.suncard.powerdesigner.commands.import">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.SaveHandler"
            commandId="sunline.suncard.powerdesigner.commands.save">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.SaveOtherHandler"
            commandId="sunline.suncard.powerdesigner.commands.saveother">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.NewViewHandler"
            commandId="sunline.suncard.powerdesigner.commands.newview">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.DeleteViewHandler"
            commandId="sunline.suncard.powerdesigner.commands.deleteview">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.SwitchCurrentDBHandler"
            commandId="sunline.suncard.powerdesigner.commands.switchcurrentdb">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.CreateDBHandler"
            commandId="sunline.suncard.powerdesigner.commands.createdb">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.ModuleLableManagerHandler"
            commandId="sunline.suncard.powerdesigner.commands.modellabelmanager">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.FindObjectHandler"
            commandId="sunline.suncard.powerdesigner.commands.find">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.AboutHandler"
            commandId="sunline.suncard.powerdesigner.commands.about">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.RankWindowsHandler"
            commandId="sunline.suncard.powerdesigner.commands.rankwindows">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.TableModelShowTypeHandler_P"
            commandId="sunline.suncard.powerdesigner.commands.onlyshowprimarykey">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.TableModelShowTypeHandler_PF"
            commandId="sunline.suncard.powerdesigner.commands.showprimaryandforeign">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.TableModelShowTypeHandler_ALL"
            commandId="sunline.suncard.powerdesigner.commands.showall">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.AddDefaultColumnHandler_Y"
            commandId="sunline.suncard.powerdesigner.commands.addefaultcolumn">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.AddDefaultColumnHandler_N"
            commandId="sunline.suncard.powerdesigner.commands.notaddefaultcolumn">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.SystemExitHandler"
            commandId="sunline.suncard.powerdesigner.commands.exit">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.CreateDBSetHandler"
            commandId="sunline.suncard.powerdesigner.commands.createdatabaseset">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.WindowsManagerHandler"
            commandId="sunline.suncard.powerdesigner.commands.windowsmanager">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.DatabaseConnectSetHandler"
            commandId="sunline.suncard.powerdesigner.commands.databaseconnectset">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.SqlCommandWindowHandler"
            commandId="sunline.suncard.powerdesigner.commands.sqlcommandwindow">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.IndexManagerHandler"
            commandId="sunline.suncard.powerdesigner.commands.indexmanager">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.OpenDatabaseConnectionTreeHandler"
            commandId="sunline.suncard.powerdesigner.commands.dbconnectiontree">
      </handler>
      <handler
            class="cn.sunline.suncard.powerdesigner.handler.ExecuteSqlHandler"
            commandId="sunline.suncard.powerdesigner.commands.executesql">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.sunline.suncard.powerdesigner.gef.ui.editor.DatabaseDiagramEditor"
            contributorClass="cn.sunline.suncard.powerdesigner.gef.ui.editor.PDActionBarContributor"
            default="false"
            icon="icons/databasedragram_16.png"
            id="cn.sunline.suncard.powerdesigner.gef.ui.editor.DatabaseDiagramEditor"
            name="%databasetabledesign">
      </editor>
      <editor
            class="cn.sunline.suncard.powerdesigner.sql.editor.SqlExecuteEditor"
            default="false"
            extensions="sql,SQL"
            icon="icons/executesql_16.png"
            id="cn.sunline.suncard.powerdesigner.gef.ui.editor.SqlExcuteEditor"
            name="%sqlexecuteeditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.sunline.suncard.powerdesigner.tree.DatabaseTreeViewPart"
            icon="icons/workspace_16.png"
            id="cn.sunline.suncard.powerdesigner.tree.DatabaseTreeViewPart"
            name="%databasetree"
            restorable="true">
      </view>
      <view
            class="cn.sunline.suncard.powerdesigner.tree.ProductTreeViewPart"
            icon="icons/product_space_16.png"
            id="cn.sunline.suncard.powerdesigner.tree.ProductTreeViewPart"
            name="%producttree"
            restorable="true">
      </view>
      <view
            class="cn.sunline.suncard.powerdesigner.tree.ProjectTreeViewPart"
            icon="icons/project_space_16.png"
            id="cn.sunline.suncard.powerdesigner.tree.ProjectTreeViewPart"
            name="%projecttree"
            restorable="true">
      </view>
      <view
            class="cn.sunline.suncard.powerdesigner.sql.view.ConnectionTreeView"
            icon="icons/dbconnectiontree_16.png"
            id="cn.sunline.suncard.powerdesigner.tree.ConnectionTreeView"
            name="%databaseconnectiongtree"
            restorable="true">
      </view>
      <view
            class="cn.sunline.suncard.powerdesigner.sql.view.SqlResultView"
            icon="icons/executesql_16.png"
            id="cn.sunline.suncard.powerdesigner.tree.SqlResultView"
            name="%executeresult"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               icon="icons/spdfile_16.png"
               label="%file">
            <command
                  commandId="sunline.suncard.powerdesigner.commands.openpd"
                  icon="icons/openfile_16.png"
                  label="%open"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.newpd"
                  icon="icons/newfile_16.png"
                  label="%new"
                  style="push">
            </command>
            <separator
                  name="sunline.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.import"
                  icon="icons/importpdm_16.png"
                  label="%import"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.save"
                  icon="icons/savefile_16.png"
                  label="%save"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.saveother"
                  icon="icons/saveasfile_16.png"
                  label="%saveother"
                  style="push">
            </command>
            <separator
                  name="sunline.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.exit"
                  icon="icons/exit_16.png"
                  label="%exit"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/view_16.png"
               label="%view">
            <command
                  commandId="sunline.suncard.powerdesigner.commands.newview"
                  icon="icons/newview_16.png"
                  label="%newview"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.deleteview"
                  icon="icons/delview_16.png"
                  label="%deleteview"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.rankwindows"
                  icon="icons/rank_windows_16.png"
                  label="%rankwindows"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.windowsmanager"
                  icon="icons/windowsmanager_16.png"
                  label="%windowsmanager"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/database_16.png"
               label="%database">
            <command
                  commandId="sunline.suncard.powerdesigner.commands.switchcurrentdb"
                  icon="icons/databaseswitch_16.png"
                  label="%switchcurrentdb"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.createdb"
                  icon="icons/createsql_16.png"
                  label="%createdb"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.createdatabaseset"
                  icon="icons/create_database_set_16.png"
                  label="%createdatabaseset"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.indexmanager"
                  icon="icons/index_16.png"
                  label="%indexmanager"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/databaseconnect_16.png"
               label="%databaseconnect">
            <command
                  commandId="sunline.suncard.powerdesigner.commands.databaseconnectset"
                  icon="icons/databaseconnectset_16.png"
                  label="%databaseconnectset"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.dbconnectiontree"
                  icon="icons/dbconnectiontree_16.png"
                  label="%databaseconnectiongtree"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.sqlcommandwindow"
                  icon="icons/sqlcommandwindow_16.png"
                  label="%sqlcommandwindow"
                  style="push">
            </command>
            <separator
                  name="sunline.suncard.powerdesigner.separator1">
            </separator>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.executesql"
                  icon="icons/executesql_16.png"
                  label="%executesql"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/set_16 .png"
               label="%set">
           <command
                  commandId="sunline.suncard.powerdesigner.commands.modellabelmanager"
                  icon="icons/module_16.png"
                  label="%modulelabelmanager"
                  style="push">
            </command>
            <menu
                  icon="icons/table_16.png"
                  label="%tablediagramshowtype">
               <command
                     commandId="sunline.suncard.powerdesigner.commands.onlyshowprimarykey"
                     label="%onlyshowprimarykey"
                     style="toggle">
               </command>
               <command
                     commandId="sunline.suncard.powerdesigner.commands.showprimaryandforeign"
                     id="sunline.suncard.powerdesigner.commands.showprimaryandforeign"
                     label="%showprimaryandforeign"
                     name="%showprimaryandforegin"
                     style="toggle">
               </command>
               <command
                     commandId="sunline.suncard.powerdesigner.commands.showall"
                     label="%showall"
                     name="%showall"
                     style="toggle">
               </command>
            </menu>
            <menu
                  icon="icons/create_table_set_16.png"
                  label="%createtableset">
               <command
                     commandId="sunline.suncard.powerdesigner.commands.addefaultcolumn"
                     label="%addefaultcolumn"
                     style="toggle">
               </command>
               <command
                     commandId="sunline.suncard.powerdesigner.commands.notaddefaultcolumn"
                     label="%notaddefaultcolumn"
                     style="toggle">
               </command>
            </menu>
         </menu>
         <menu
               icon="icons/help_16.png"
               id="sunline.suncard.powerdesigner.menus.help"
               label="%help">
            <command
                  commandId="sunline.suncard.powerdesigner.commands.find"
                  icon="icons/action_find_16.png"
                  label="%find"
                  style="push">
            </command>
            <separator
                  name="sunline.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.about"
                  icon="icons/about_16.png"
                  label="%about"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="sunline.suncard.powerdesigner.toolbar">
            <command
                  commandId="sunline.suncard.powerdesigner.commands.openpd"
                  icon="icons/openfile_16.png"
                  label="%open"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.newpd"
                  icon="icons/newfile_16.png"
                  label="%new"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.import"
                  icon="icons/importpdm_16.png"
                  label="%import"
                  style="push">
            </command>
            <separator
                  name="sunline.suncard.powerdesigner.separator"
                  visible="true">
            </separator>
<!--            <command
                  commandId="sunline.suncard.powerdesigner.commands.save"
                  icon="icons/savefile_16.png"
                  label="%save"
                  style="push">
            </command>
            <command
                  commandId="sunline.suncard.powerdesigner.commands.saveother"
                  icon="icons/saveasfile_16.png"
                  label="%saveother"
                  style="push">
            </command>
-->
            <separator
                  name="sunline.suncard.powerdesigner.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.eclipse.ui.myAcceleratorConfiguration"
            name="myAcceleratorConfiguration"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="sunline.suncard.powerdesigner.commands.find"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+F">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.switchcurrentdb"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+D">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.createdb"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+Q">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.newpd"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+N">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.saveother"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+Shift+S">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.modellabelmanager"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+M">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.import"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+I">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.rankwindows"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+L">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+S">
      </key>
      <key
            commandId="sunline.suncard.powerdesigner.commands.windowsmanager"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.myAcceleratorConfiguration"
            sequence="Ctrl+K">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="sunline.suncard.powerdesigner.perspective">
         <view
               closeable="false"
               id="cn.sunline.suncard.powerdesigner.tree.DatabaseTreeViewPart"
               minimized="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="cn.sunline.suncard.powerdesigner.tree.ProductTreeViewPart"
               minimized="false"
               ratio="0.4"
               relationship="stack"
               relative="cn.sunline.suncard.powerdesigner.tree.DatabaseTreeViewPart"
               visible="true">
         </view>
         <view
               closeable="false"
               id="cn.sunline.suncard.powerdesigner.tree.ProjectTreeViewPart"
               minimized="false"
               ratio="0.4"
               relationship="stack"
               relative="cn.sunline.suncard.powerdesigner.tree.DatabaseTreeViewPart"
               visible="true">
         </view>
         <view
               closeable="true"
               id="cn.sunline.suncard.powerdesigner.tree.ConnectionTreeView"
               minimized="false"
               ratio="0.4"
               relationship="stack"
               relative="cn.sunline.suncard.powerdesigner.tree.DatabaseTreeViewPart"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="sunline.suncard.powerdesigner.actionSets"
            label="actionSets">
         <action
               accelerator="F8"
               class="cn.sunline.suncard.powerdesigner.sql.action.SqlExecuteAction"
               definitionId="sunline.suncard.powerdesigner.commands.executesql"
               icon="icons/executesql_16.png"
               id="sunline.suncard.powerdesigner.actions.executesql"
               label="%executesql"
               menubarPath="net.sourceforge.easysql.menus.workbench/separator"
               style="push"
               toolbarPath="additions"
               tooltip="%executesql">
         </action>
      </actionSet>
   </extension>

</plugin>
