<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="cn.sunline.suncard.sde.workflow.commands.workflowtree"
            name="%workflowtree">
      </command>
      <command
            id="cn.sunline.suncard.sde.workflow.commands.actiontree"
            name="%actiontree">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.sunline.suncard.sde.workflow.handlers.WorkFlowTreeHandler"
            commandId="cn.sunline.suncard.sde.workflow.commands.workflowtree">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.workflow.handlers.ActionTreeHandler"
            commandId="cn.sunline.suncard.sde.workflow.commands.actiontree">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=sunline.card.sde.menus.help">
         <menu
               id="cn.sunline.suncard.sde.workflow.menus.workflow"
               label="%workflow"
               mnemonic="M">
            <command
                  commandId="cn.sunline.suncard.sde.workflow.commands.workflowtree"
                  icon="icons/workflow.png"
                  label="%workflowtree"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="cn.sunline.suncard.sde.workflow.commands.actiontree"
                  icon="icons/actiontree.png"
                  label="%actiontree"
                  mnemonic="A"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.sunline.suncard.sde.workflow.Perspective"
            id="cn.sunline.suncard.sde.workflow.perspective"
            name="%workflow">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.sunline.suncard.sde.workflow.gef.ui.editor.WorkFlowEditor"
            contributorClass="cn.sunline.suncard.sde.workflow.gef.menu.WorkFlowActionBarContributor"
            default="false"
            icon="icons/workflow.png"
            id="cn.sunline.suncard.sde.workflow.gef.ui.editor.WorkFlowEditor"
            name="WorkFlowEditor">
      </editor>
      <editor
            class="cn.sunline.suncard.sde.workflow.ui.editor.ActionEditor"
            default="false"
            icon="icons/actiontree.png"
            id="cn.sunline.suncard.sde.dm.ui.editor.ActionEditor"
            name="ActionEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.sunline.suncard.sde.workflow.tree.WorkFlowTreeViewPart"
            icon="icons/workflow.png"
            id="cn.sunline.suncard.sde.workflow.tree.WorkFlowTreeViewPart"
            name="%workflow"
            restorable="true">
      </view>
      <view
            class="cn.sunline.suncard.sde.workflow.tree.ActionTreeViewPart"
            icon="icons/actiontree.png"
            id="cn.sunline.suncard.sde.workflow.tree.ActionTreeViewPart"
            name="%actiontree"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="cn.sunline.suncard.sde.workflow.perspective">
         <view
               id="cn.sunline.suncard.sde.workflow.tree.WorkFlowTreeViewPart"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="false"
               visible="true">
         </view>
         <view
               id="cn.sunline.suncard.sde.workflow.tree.ActionTreeViewPart"
               minimized="false"
               ratio="0"
               relationship="left"
               relative="cn.sunline.suncard.sde.workflow.tree.WorkFlowTreeViewPart"
               standalone="false">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
