<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/tubiao_32.gif">
         <run
               class="cn.sunline.suncard.sde.bs.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.sunline.suncard.sde.bs.Perspective"
            icon="icons/suncardbs.gif"
            id="sunline.card.sde.perspective"
            name="%suncardbs">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="sunline.card.sde.commands.useradd"
            name="useradd">
      </command>
      <command
            id="sunline.card.sde.commands.userdelete"
            name="userdelete">
      </command>
      <command
            id="sunline.card.sde.commands.useredit"
            name="useredit">
      </command>
      <command
            id="sunline.card.sde.commands.departmanager"
            name="departmanager">
      </command>
       <command
            id="sunline.card.sde.commands.departadd"
            name="departadd">
      </command>
      <command
            id="sunline.card.sde.commands.departdelete"
            name="departdelete">
      </command>
      <command
            id="sunline.card.sde.commands.departedit"
            name="departedit">
      </command>
      <command
            id="sunline.card.sde.commands.funcmanager"
            name="funmanager">
      </command>
       <command
            id="sunline.card.sde.commands.funcadd"
            name="funcadd">
      </command>
      <command
            id="sunline.card.sde.commands.funcdelete"
            name="funcdelete">
      </command>
      <command
            id="sunline.card.sde.commands.funcedit"
            name="funcedit">
      </command>
      <command
            id="sunline.card.sde.commands.rolemanager"
            name="rolemanager">
      </command>
      <command
            id="sunline.card.sde.commands.roleadd"
            name="roleadd">
      </command>
      <command
            id="sunline.card.sde.commands.roledelete"
            name="roledelete">
      </command>
      <command
            id="sunline.card.sde.commands.roleedit"
            name="roleedit">
      </command>
      <command
            id="sunline.card.sde.commands.passwordmodify"
            name="passwordmodify">
      </command>
      <command
            id="sunline.card.sde.commands.permissionset"
            name="permissionset">
      </command>
      <command
            id="sunline.card.sde.commands.pluginmanag"
            name="pluginmanag">
      </command>
      <command
            id="sunline.card.sde.commands.logexamine"
            name="logexamine">
      </command>
      <command
            id="sunline.card.sde.commands.help"
            name="help">
      </command>
      <command
            id="sunline.card.sde.commands.about"
            name="about">
      </command>
      <command
            id="sunline.card.sde.commands.usermananger"
            name="usermanager">
      </command>
      <command
            id="sunline.card.sde.commands.permissionedit"
            name="permissionedit">
      </command>
      <command
            id="sunline.card.sde.commands.passwdreset"
            name="passwdreset">
      </command>
      <command
            id="sunline.suncard.sde.refresh"
            name="refresh">
      </command>
      <command
            id="sunline.suncard.sde.commands.welcome"
            name="welcome">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.UserManangerHandler"
            commandId="sunline.card.sde.commands.usermananger">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.UserAddHandler"
            commandId="sunline.card.sde.commands.useradd">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.UserDeleteHandler"
            commandId="sunline.card.sde.commands.userdelete">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.UserEditHandler"
            commandId="sunline.card.sde.commands.useredit">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.DepartManagerHandler"
            commandId="sunline.card.sde.commands.departmanager">
      </handler>
       <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.DepartAddHandler"
            commandId="sunline.card.sde.commands.departadd">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.DepartDeleteHandler"
            commandId="sunline.card.sde.commands.departdelete">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.DepartEditHandler"
            commandId="sunline.card.sde.commands.departedit">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.FuncManagerHandler"
            commandId="sunline.card.sde.commands.funcmanager">
      </handler>
       <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.FuncAddHandler"
            commandId="sunline.card.sde.commands.funcadd">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.FuncDeleteHandler"
            commandId="sunline.card.sde.commands.funcdelete">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.FuncEditHandler"
            commandId="sunline.card.sde.commands.funcedit">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.RoleManagerHandler"
            commandId="sunline.card.sde.commands.rolemanager">
      </handler>
       <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.RoleAddHandler"
            commandId="sunline.card.sde.commands.roleadd">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.RoleDeleteHandler"
            commandId="sunline.card.sde.commands.roledelete">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.RoleEditHandler"
            commandId="sunline.card.sde.commands.roleedit">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.PasswordModifyHandler"
            commandId="sunline.card.sde.commands.passwordmodify">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.PermissionSetHandler"
            commandId="sunline.card.sde.commands.permissionset">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.PluginManagHandler"
            commandId="sunline.card.sde.commands.pluginmanag">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.LogExamineHandler"
            commandId="sunline.card.sde.commands.logexamine">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.HelpHandler"
            commandId="sunline.card.sde.commands.help">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.AboutHandler"
            commandId="sunline.card.sde.commands.about">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.PermissionEditHandler"
            commandId="sunline.card.sde.commands.permissionedit">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.PasswdResetHandler"
            commandId="sunline.card.sde.commands.passwdreset">
      </handler>
      <handler
            class="cn.sunline.suncard.sde.bs.ui.handler.RefreshHandler"
            commandId="sunline.suncard.sde.refresh">
      </handler>
      <handler
      		class="cn.sunline.suncard.sde.bs.ui.handler.WelcomeHandler"
            commandId="sunline.suncard.sde.commands.welcome">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="sunline.card.sde.menus.permissionmanager"
               label="%permissionmanager"
               mnemonic="M">
            <command
                  commandId="sunline.card.sde.commands.departmanager"
                  icon="icons/part_manager.gif"
                  id="sunline.card.sde.menus.departmanager"
                  label="%departmanager">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="departmang">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="sunline.card.sde.commands.funcmanager"
                  icon="icons/function_manager.gif"
                  id="sunline.card.sde.menus.funcmanager"
                  label="%funcmanager">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="funcmang">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="sunline.card.sde.commands.rolemanager"
                  icon="icons/role_manager.gif"
                  id="sunline.card.sde.menus.rolemanager"
                  label="%rolemanager">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="rolemang">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="sunline.card.sde.commands.passwordmodify"
                  icon="icons/password_modify.gif"
                  id="sunline.card.sde.menus.passwordmodify"
                  label="%passwordmodify">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="passwdmodi">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="sunline.card.sde.commands.permissionset"
                  icon="icons/permission_manager.gif"
                  id="sunline.card.sde.menus.permissionset"
                  label="%permissionset">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="permmenu">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="sunline.card.sde.commands.usermananger"
                  icon="icons/part_manager.gif"
                  id="sunline.card.sde.menus.usermanager"
                  label="%usermanager"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="usermang">
                  </test>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="permmang">
               </test>
            </visibleWhen>
         </menu>
         <menu
               id="sunline.card.sde.menus.pluginmanager"
               label="%pluginmanager">
            <command
                  commandId="sunline.card.sde.commands.pluginmanag"
                  icon="icons/plugin_manager.gif"
                  id="sunline.card.sde.menus.pluginmanag"
                  label="%pluginmanag">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="pluginmang">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="sunline.card.sde.commands.logexamine"
                  icon="icons/log_examine.gif"
                  id="sunline.card.sde.menus.logexamine"
                  label="%logexamine">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="logexamine">
                  </test>
               </visibleWhen>
            </command>
            <visibleWhen>
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="pluginmenu">
               </test>
            </visibleWhen>
         </menu>
         <menu
               id="sunline.card.sde.menus.help"
               label="%help" path="fileMenu">
            <command
                  commandId="sunline.card.sde.commands.help"
                  icon="icons/help.png"
                  id="sunline.card.sde.menus.help"
                  label="%help">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="help">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="sunline.card.sde.commands.about"
                  icon="icons/about.png"
                  id="sunline.card.sde.menus.about"
                  label="%about">
               <visibleWhen
                     checkEnabled="true">
                  <test
                        property="sunline.card.sde.commands.functionId"
                        value="about">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="sunline.suncard.sde.commands.welcome"
                  icon="icons/welcome.png"
                  id="sunline.card.sde.menus.welcome"
                  label="%welcome">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:cn.sunline.card.sde.ui.views.UserManagerViewPart">
         <command
               commandId="sunline.card.sde.commands.useradd"
               icon="icons/alt_add.gif"
               label="%adduser">
            <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="useradd">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.userdelete"
               icon="icons/alt_delete.gif"
               label="%deleteuser">
          <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="userdel">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.useredit"
               icon="icons/alt_edit.gif"
               label="%modifyuser">
            <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="useredit">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.passwdreset"
               icon="icons/alt_passwd.gif"
               label="%passwdreset">
           <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="passreset">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:cn.sunline.card.sde.ui.views.FuncManagerViewPart">
         <command
               commandId="sunline.card.sde.commands.funcadd"
               icon="icons/alt_add.gif"
               label="%funcadd"
               style="push">
              <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="funcadd">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.funcdelete"
               icon="icons/alt_delete.gif"
               label="%funcdelete"
               style="push">
                <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="funcdel">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.funcedit"
               icon="icons/alt_edit.gif"
               label="%funcedit"
               style="push">
                <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="funcedit">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:cn.sunline.card.sde.ui.views.RoleManagerViewPart">
         <command
               commandId="sunline.card.sde.commands.roleadd"
               icon="icons/alt_add.gif"
               label="%roleadd"
               style="push">
                <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="roleadd">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.roledelete"
               icon="icons/alt_delete.gif"
               label="%roledelete"
               style="push">
                <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="roledel">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.roleedit"
               icon="icons/alt_edit.gif"
               label="%roleedit"
               style="push">
                <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="roleedit">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
        <menuContribution
            locationURI="toolbar:cn.sunline.card.sde.ui.views.DepartManagerViewPart">
         <command
               commandId="sunline.card.sde.commands.departadd"
               icon="icons/alt_add.gif"
               label="%departadd"
               style="push">
                <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="departadd">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.departdelete"
               icon="icons/alt_delete.gif"
               label="%departdelete"
               style="push">
                <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="departdel">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="sunline.card.sde.commands.departedit"
               icon="icons/alt_edit.gif"
               label="%departedit"
               style="push">
                <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="departedit">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
        <menuContribution
              locationURI="toolbar:cn.sunline.card.sde.ui.views.PermissionSetViewPart">
           <command
                 commandId="sunline.card.sde.commands.permissionedit"
                 icon="icons/alt_edit.gif"
                 label="%permissionset">
                  <visibleWhen
                  checkEnabled="true">
               <test
                     property="sunline.card.sde.commands.functionId"
                     value="permset">
               </test>
            </visibleWhen>
           </command>
        </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.sunline.suncard.sde.bs.ui.views.UserManagerViewPart"
            icon="icons/user_manager.gif"
            id="cn.sunline.card.sde.ui.views.UserManagerViewPart"
            name="%UserViewPart">
      </view>
      <view
            class="cn.sunline.suncard.sde.bs.ui.views.DepartManagerViewPart"
            icon="icons/part_manager.gif"
            id="cn.sunline.card.sde.ui.views.DepartManagerViewPart"
            name="%departmanager">
      </view>
      <view
            class="cn.sunline.suncard.sde.bs.ui.views.RoleManagerViewPart"
            icon="icons/role_manager.gif"
            id="cn.sunline.card.sde.ui.views.RoleManagerViewPart"
            name="%rolemanager">
      </view>
      <view
            class="cn.sunline.suncard.sde.bs.ui.views.FuncManagerViewPart"
            icon="icons/function_manager.gif"
            id="cn.sunline.card.sde.ui.views.FuncManagerViewPart"
            name="%funcmanager">
      </view>
      <view
            class="cn.sunline.suncard.sde.bs.ui.views.PermissionSetViewPart"
            icon="icons/permission_manager.gif"
            id="cn.sunline.card.sde.ui.views.PermissionSetViewPart"
            name="%permissionset"
            restorable="true">
      </view>
      <view
            class="cn.sunline.suncard.sde.bs.ui.views.FunctionTreeViewPart"
            icon="icons/navagition_manager.gif"
            id="cn.sunline.suncard.sde.ui.views.FunctionTreeViewPart"
            name="%funcnavigation">
      </view>
      <view
            class="cn.sunline.suncard.sde.bs.ui.views.WelcomeDefaultViewPart"
            icon="icons/welcome.gif"
            id="cn.sunline.suncard.sde.bs.ui.views.WelcomeDefaultViewPart"
            name="%WelcomeDefaultViewPart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="sunline.card.sde.perspective">
         <view
               closeable="true"
               id="cn.sunline.suncard.sde.ui.views.FunctionTreeViewPart"
               minimized="false"
               ratio="0.23"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="cn.sunline.suncard.sde.bs.ui.views.WelcomeDefaultViewPart"
               minimized="false"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="cn.sunline.card.sde.ui.views.UserManagerViewPart"
               minimized="false"
               ratio="0.7"
               relationship="stack"
               relative="cn.sunline.suncard.sde.bs.ui.views.WelcomeDefaultViewPart"
               visible="false">
         </view>
         <view
               closeable="true"
               id="cn.sunline.card.sde.ui.views.DepartManagerViewPart"
               minimized="false"
               ratio="0.7"
               relationship="stack"
               relative="cn.sunline.suncard.sde.bs.ui.views.WelcomeDefaultViewPart"
               visible="false">
         </view>
         <view
               closeable="true"
               id="cn.sunline.card.sde.ui.views.RoleManagerViewPart"
               minimized="false"
               ratio="0.7"
               relationship="stack"
               relative="cn.sunline.suncard.sde.bs.ui.views.WelcomeDefaultViewPart"
               visible="false">
         </view>
         <view
               closeable="true"
               id="cn.sunline.card.sde.ui.views.FuncManagerViewPart"
               minimized="false"
               ratio="0.7"
               relationship="stack"
               relative="cn.sunline.suncard.sde.bs.ui.views.WelcomeDefaultViewPart"
               visible="false">
         </view>
         <view
               closeable="true"
               id="cn.sunline.card.sde.ui.views.PermissionSetViewPart"
               minimized="false"
               ratio="0.7"
               relationship="stack"
               relative="cn.sunline.suncard.sde.bs.ui.views.WelcomeDefaultViewPart"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="cn.sunline.suncard.sde.bs.ui.preferences.DBRootPreferencePage"
            id="sunline.card.sde.preferences.DBRootPreferencePage"
            name="%DBRootPreferencePage">
      </page>
      <page
            category="sunline.card.sde.preferences.DBRootPreferencePage"
            class="cn.sunline.suncard.sde.bs.ui.preferences.DBPreferencePage"
            id="sunline.card.sde.preferences.DBPreferencePage"
            name="%DBPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="cn.sunline.suncard.sde.bs.ui.propertytester.PermissionPropertyTester"
            id="sunline.card.sde.propertyTester"
            namespace="sunline.card.sde.commands"
            properties="functionId"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
          application="sunline.suncard.sde.application"
          name="suncardsde">
		 <property
               name="appName"
               value="suncardsde">
         </property>
		   <property
		         name="preferenceCustomization"
		         value="plugin_customization.ini">
		   </property>
     <property
           name="windowImages"
           value="icons/tubiao_16.gif,icons/tubiao_32.gif,icons/tubiao_64.gif">
     </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="welcome.intro"
            productId="sunline.suncard.sde.product">
      </introProductBinding>
   </extension>
   <!--<extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="cn.sunline.suncard.sde.bs.ui.handler.InteractiveSplashHandler"
            id="sunline.suncard.sde.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="sunline.suncard.sde.product"
            splashId="sunline.suncard.sde.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>-->
</plugin>
